<div class="container">
	<div class="row">
		<div class="col-6">
			<button class="btn btn-outline-primary" (click)="findUsers()">Find all Users</button>
			<pre>{{users | json}}</pre>
		</div>
		<div class="col-6">
			<form [formGroup]="userForm">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label for="first-name">First Name</label>
							<input id="first-name" class="form-control" formControlName="firstName" />
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="last-name">Last Name</label>
							<input id="last-name" class="form-control" formControlName="lastName" />
						</div>
					</div>
					<div class="col-12">
						<button [disabled]="!userForm.valid" class="btn btn-outline-secondary" (click)="createUser()">Create User</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
